<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
  <form method="POST" action="/team">
    <div>
      <label>Team name</label>
      <input type="text" name="name"></input>
    </div>
    <div>
      <label>Coach</label>
      <input type="text" name="coach"></input>
    </div>
    <div>
      <label>Point guard</label>
      <input type="text" name="pg"></input>
    </div>
    <div>
      <label>Shooting Guard</label>
      <input type="text" name="sg"></input>
    </div>
    <div>
      <label>Small Forward</label>
      <input type="text" name="sf"></input>
    </div>
    <div>
      <label>Power Forward</label>
      <input type="text" name="pf"></input>
    </div>
    <div>
      <label>Center</label>
      <input type="text" name="c"></input>
    </div>
    <input type="submit" id="Submit"></input>
  </form>
 </head>
 <body>
 </body>
</html>
