<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
  <form>
      <form method="POST" action="/newteam">
 <div>
      <label>Team Name</label>
      <input type="text" name="name">
 </div>
 <div>
      <label>Coach</label>
      <input type="text" name="coach">
  </div> 
   <div>
      <label>Point Guard</label>
      <input type="text" name="pg">
 </div>
  <div>
      <label>Shooting Guard</label>
      <input type="text" name="sg">
 <div>
      <label>Small Forward</label>
      <input type="text" name="sf">
</div>
 <div>
      <label>Power Forward</label>
      <input type="text" name="pf">
</div> 
 <div>
      <label>Center</label>
      <input type="text" name="c">
  <div>
      <input id="Submit" type="submit" name="Submit">
  </div>
  </form>
 </body>
</html>


